In [1]:
100 + 200

300

# 파이썬 기초 문법

- Jupyter Notebook 사용법
- Markdown 기능: 파이썬 문법이 아닌 설명이나, 주석을 작성하는 모드 

- 변수 : 데이터를 들고다니는 공간 
- '변수를 선언한다' : 등호기호(=)를 기준으로 오른쪽의 값을 왼쪽의 사용자가 지정한 이름으로 선언 {지정한다}

In [2]:
data1 = 100.2375
data2 = 51.2

In [3]:
data1

100.2375

In [4]:
 data1 + data2

151.4375

 - 파이썬 데이터 타입 : 숫자형 / 문자형 / 논리형 
 - 숫자형 : 정수형(파이썬 표현 : int) / 실수형(파이썬 표현 : float)
 - 문자형 : 문자열(파이썬 표현 : str → 따옴표 또는 쌍따옴표를 이용해서 사용
 - 논리형 : 참/거짓 (True False / 파이썬 표현 : bool → 첫글자를 대문자로 사용)
 - 파이썬은 대소문자를 구분 : 
 
 - type( ): 특정 변수안에 있는 데이터의 타입을 확인하는 기능

In [6]:
type(data1)

float

In [7]:
data3 = '파이썬 데이터 분석'

In [8]:
data3

'파이썬 데이터 분석'

In [9]:
type(data3)

str

In [10]:
True

True

In [11]:
False

False

In [12]:
type(True)

bool

 - 파이썬 연산자(Operator)
 - 데이터 타입에 따라 연산의 레벨이 달라진다.
 - 셀(cell)내에서 코드에 대한 설명을 사용할 땐, # 기호를 활용

In [13]:
data1 + data2 # 덧셈

151.4375

In [14]:
data1 - data2 # 뺄셈

49.037499999999994

In [20]:
data1 * data2 # 곱셈

5132.16

In [17]:
data1 / data2 # 나눗셈

1.9577636718749998

In [21]:
data1 ** data2

2.8362701610231762e+102

In [19]:
data1 **2 # 거듭제곱

10047.55640625

In [24]:
 # 문자 데이터 연산 
data4 = "python 데이터"
data5 = "분석"

In [25]:
data4 + data5 # 두 개의 문자열을 이어붙여 쓴다.

'python 데이터분석'

data5 * 3 # 문자를 중복하여 이어붙여 쓴다.

In [27]:
# 논리형 연산 (비교구분)
data6 = 50
data7 = 90

In [28]:
data6 < data7 # "data6보다 data7이 크다" 이 문장이 참/ 거짓인가 판단

True

In [29]:
data6 > data7

False

In [30]:
data6 <= data7 #data6보다 data7이 크거나 같다.

True

In [32]:
data6 >= data7

False

In [34]:
data6 == data7 # 두 숫자데이터가 같은지를 물음.

False

In [35]:
data6 != data7 # 두 숫자데이터가 다른지를 물음 ( != not equal)

True

 # 파이썬 자료구조
 
 - 하나의 변수에 여러개의 데이터를 들고다니고 싶을 때 → 데이터를 들고다닐 수 있는 다양한 형태의 상자를 지원  → 파이썬 자료 구조 
 
 - List 리스트 (대괄호 사용) : 데이터의 순서 존재 / 중복 값을 사용가능 / 새로운 데이터를 추가, 기존 데이터를 변경, 기존 데이터 삭제 가능

In [3]:
 # 리스트 (List) 자료 구조
data8 = [20, 30, 50, 10, 90, 30]

In [4]:
data8

[20, 30, 50, 10, 90, 30]

In [5]:
data8.append(150) # 기존의 data8 리스트 맨 끝에 새로운 150 숫자데이터가 추가 
# .append() : 함수, 파이썬에서 특정 기능을 수행하기 위해 프로그래머들이 만들어 놓은 구문

In [6]:
data8

[20, 30, 50, 10, 90, 30, 150]

In [7]:
data8.remove(90) # data8. 리스트 내에 있는 90이라는 데이터를 제거

In [8]:
data8

[20, 30, 50, 10, 30, 150]

 - Tuple 튜플 (소괄호) : 데이터의 순서 존재 / 중복 허용 / 데이터 추가, 삭제, 변경하는 것이 불가능함

In [9]:
data9 = (100, 100, 40, 20, 50)
data9

(100, 100, 40, 20, 50)

In [10]:
data9.append(100)

AttributeError: 'tuple' object has no attribute 'append'

In [11]:
type(data9) # type()함수는 여러 데이터가 있는 자료구조에선 자료구조의 형태를 확인

tuple

 - set 셋(집합) (중괄호) : 데이터의 순서 x , 중복도 불가능 / 데이터 추가, 삭제, 변경하는 것은 가능 / 집합연산 가능(교집합, 합집합, 차집합)

In [12]:
data10 = {30,20,100,50,20,20,20,20}
data10

{20, 30, 50, 100}

In [13]:
type(data10)

set

In [14]:
data11 = {20,30,40,50,60}
data12 = {50,60,70,80}

In [15]:
data11 & data12 # 두 집합의 교집합 확인 (교집합 연산)

{50, 60}

In [16]:
data11 | data12 # 두 집합의 합집합 확인 (합집합 연산)

{20, 30, 40, 50, 60, 70, 80}

In [17]:
data11 - data12 # data11 집합을 기준으로 data12집합의 원소를 제거한 차집합 연산 수행

{20, 30, 40}

In [18]:
data12 - data11

{70, 80}

In [19]:
data11 ^ data12 # 대상차집합 연산을 수행  (교집합을 제외한 나머지)

{20, 30, 40, 70, 80}

 - Dictionary 딕셔너리(사전) (중괄호- 키:값 쌍으로 구성)

In [20]:
data13 = {'이름': '홍길동', '나이':30, '지역':'서울'}
data13

{'이름': '홍길동', '나이': 30, '지역': '서울'}

In [21]:
data13['이름'] #특정 딕셔너리의 키를 가져오면, 해당 값이 출력되는 형태

'홍길동'

In [22]:
data13['나이']

30

- 대괄호 : 여러개의 데이터를 담을 땐 -> 리스트 형태 
- 여러 데이터를 이미 가지고 있는, 특정 변수뒤에 바로 대괄호가 등장 -> 데이터를 찾는 형태로 사용 (indexing, 색인: 특정 위치에 있는 데이터를 찾는다)

# 파이썬 구문 (Statement) 

- 특정 코드를 반복하거나, 특정 조건에 대해 원하는 코드가 실행 될 수 있도록 구성
- 조건문 : 특정 조건에 대해 코드가 실행 될 수 있도록 구성
- 반복문 : 특정 범위나 횟수에 대해 코드를 반복 수행할 수 있도록 구성

In [24]:
 # 조건문 (if) 
data14 = 50

if data14 >= 100 : # 해당 조건을 만족하면, 바로 아래 종속된 문장이 수행
    print( '해당 데이터는 100보다 큽니다.')
    # 들여쓰기 : tab키나 space bar키를 이용해, 공백을 주어, 문장의 종속관계를 표현 
    
else: # 위의 모든 조건이 맞지 않을 경우, 아래 종속된 문장을 수행
    print('해당 데이터는 100보다 작습니다.')

해당 데이터는 100보다 작습니다.

In [27]:
# 여러 조건을 걸어, 해당 조건에 맞는 코드를 수행할 때 
data15 = 74

if data15 >= 90 : 
    print('A')
elif data15 >= 80 :
    print('B')
elif data15 >= 70 : 
    print('C')
else: 
    print('D')

C

In [28]:
# 반복문 (while, **For**)
# range(n,m) : 특정 범위의 정수를 출력하는 기능 / n 번째부터 m번 이전까지 수를 출력 
for i in range(1,10):
    print(i)

1
2
3
4
5
6
7
8
9

In [29]:
for i in [100,200,300] : # 특정 리스트 내 데이터 개수만큼 종속문장을 반복 / 보통 리스트의 형태로 반복문을 많이 사용함
    print(i)

100
200
300

In [31]:
for j in range(1,6) :
    print('Hi')

Hi
Hi
Hi
Hi
Hi

In [32]:
data11 # Set 자료구조 -> 데이터가 순서가 없는 자료구조다.!

{20, 30, 40, 50, 60}

In [33]:
for k in data11:
    print(k)

50
20
40
60
30

In [34]:
list(data11)

[50, 20, 40, 60, 30]

In [35]:
for k in data11:
    print(k)

50
20
40
60
30

In [1]:
 # 특정 리스트 안에 있는 모든 숫자데이터의 합을 계산하는 코드를 구성 
data16 = [100,200,300,500,50]
result1 = 0

for i in data16:
    result1 = result1 + i  # 기존의 결과와 새로운 i값을 받아서 업데이트 
    print(result1)

100
300
600
1100
1150

In [2]:
sum(data16) # 함수 : 특정 기능을 수행하는 코드의 집합체

1150

In [3]:
 # 함수를 생성  ex) 어떤 수에 100을 더해서 출력해주는 함수를 생성
def func1(x):
    return x + 100

In [5]:
func1(600)

700

In [7]:
 # 성적을 넣었을 때, A,B,C 학점을 출력하는 함수를 생성 
def func2(x):
    if x >= 90:
        return 'A' 
    elif x >= 80 :
        return 'B'
    else:
        return 'C'

In [8]:
func2(100)

'A'

In [9]:
func2(50)

'C'

def 함수이름(매개변수):
    코드
    return 결과

# 라이브러리

- 라이브러리 : 특정 프로그래밍의 목적을 달성하기 위한 함수들의 집합체 

- 데이터 분석(정형 데이터)을 위한 라이브러리 종류 

- Numpy (Numeric + Pyhon) : 과학/수학/통계연산과 관련한 함수들의 집합  -> (엑셀과 같은 파일의 데이터 처리는 어려움) 
- Pandas (Panel + DataSet) : 정형데이터 (Excel, CSV, SQL, ..)를 처리/분석/통계 연산하는 함수들의 집합 

- Matplotlib (Matlab + Plot + Library) : 연속형 자료들의 그래프 시각화 함수들의 집합  
- Seaborn : 정형데이터의 통계적 연산 및 시각화 
- Plotly : 기본적으로 정형데이터의 시각화 함수들의 집합 (동적 시각화 - 차별점)

- Scipy (Science + Python) : 응용통계(가설 검정/회귀 분석/시계열 분석) 함수들의 집합 

- Scikit Learn (Science + Python + Tool Kit + Learning) : 정형데이터에서의 기계학습(Machine Learning)함수들의 집합

- 비정형 데이터의 분석 -> Tensorflow (Tensor + Flow) : 다차원의 비정형데이터(이미지,소리,신호)처리 추상화를 통한 신경망 알고리즘으로 처리하기 위한 함수들의 집합
- (1차원 -> Scalar / 2차원 -> Vector / 3차원 -> Matrix / 4차원{3차원 이상의 데이터_이미지, 영상 등 시간에 따라 바뀌는 데이터} -> Tensor)

In [10]:
 # 우회해서 주피터 노트북을 설치한 경우 (아나콘다 사용 하는 사람 x)
!pip --trusted-host pypi.org--trusted-host files.pythonhost.org install pandas

ERROR: unknown command "files.pythonhost.org"

In [2]:
 # 라이브러리를 해당 스크립트로 호출 
import pandas as pd 
# import : 특정 라이브러리를 스크립트로 호출하는 명령어 
# as : 해당 라이브러리 이름을 줄여 사용하겠다는 뜻

In [3]:
# 데이터 불러오기 (read_csv : csv파일을 불러옴)
df1 = pd.read_csv('01_Data.csv') #01_Data.csv파일을 불러와, df1 변수로 선언함 

# 오류가 생긴 경우 
# 1. FileNotFoundError : 해당 파일이 존재하지 않음 -> 파일명 확인 /  파일 위치 확인 
# 2. SyntaxError : 들여쓰기 / 띄어쓰기 오류 -> 함수명 확인 / 특수기호 / 띄어쓰기 확인

In [4]:
df1

,Index,Member_ID,Sales_Type,Contract_Type,Channel,Datetime,Term,Payment_Type,Product_Type,Amount_Month,Customer_Type,Age,Address1,Address2,State,Overdue_count,Overdue_Type,Gender,Credit_Rank,Bank
0,1,66758234,렌탈,일반계약,영업방판,2019-05-06,60,CMS,DES-1,96900,개인,42.0,경기도,경기도,계약확정,0,없음,여자,9.0,새마을금고
1,2,66755948,렌탈,교체계약,영업방판,2020-02-20,60,카드이체,DES-1,102900,개인,39.0,경기도,경기도,계약확정,0,없음,남자,2.0,현대카드
2,3,66756657,렌탈,일반계약,홈쇼핑/방송,2019-02-28,60,CMS,DES-1,96900,개인,48.0,경기도,경기도,계약확정,0,없음,여자,8.0,우리은행
3,4,66423450,멤버십,멤버십3유형,재계약,2019-05-13,12,CMS,DES-1,66900,개인,39.0,경기도,경기도,계약확정,0,없음,남자,5.0,농협회원조합
4,5,66423204,멤버십,멤버십3유형,재계약,2019-05-10,12,CMS,DES-1,66900,개인,60.0,경기도,경기도,기간만료,12,있음,남자,8.0,농협회원조합
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
51296,51298,66579515,렌탈,프로모션계약,대형마트A,2019-03-01,60,CMS,DES-3A,96900,개인,47.0,경기도,경기도,계약확정,0,없음,남자,NaN,기업은행
51297,51299,66799558,렌탈,일반계약,대형마트A,2019-04-01,60,CMS,DES-1,96900,개인,42.0,경기도,경기도,계약확정,0,없음,여자,8.0,새마을금고
51298,51300,66799197,렌탈,프로모션계약,영업방판,2019-04-01,39,카드이체,ERA,120900,개인,65.0,서울특별시,서울특별시,계약확정,0,없음,여자,1.0,롯데카드
51299,51301,66792778,렌탈,일반계약,홈쇼핑/방송,2020-02-06,60,카드이체,DES-1,96900,개인,54.0,서울특별시,서울특별시,계약확정,0,없음,여자,2.0,롯데카드
51300,51302,66799607,렌탈,일반계약,홈쇼핑/방송,2019-04-24,60,CMS,DES-1,96900,개인,53.0,서울특별시,서울특별시,계약확정,0,없음,여자,8.0,신한은행

In [5]:
# 데이터의 순서 Index 
df1.index
# 함수에서 소괄호를 안쓰는경우 -> 데이터의 구조를 확인할 경우

RangeIndex(start=0, stop=51301, step=1)

In [6]:
# 데이터의 항목 Column
df1.columns

Index(['Index', 'Member_ID', 'Sales_Type', 'Contract_Type', 'Channel',
       'Datetime', 'Term', 'Payment_Type', 'Product_Type', 'Amount_Month',
       'Customer_Type', 'Age', 'Address1', 'Address2', 'State',
       'Overdue_count', 'Overdue_Type', 'Gender', 'Credit_Rank', 'Bank'],
      dtype='object')

In [7]:
# 데이터의 구조와 타입을 확인 
df1.info()
# 결측값 (Missing Value) : 데이터의 공백을 의미함, 수집이 아예 안되거나 입력하지 않은 공백 / Null,None, NaN (Not A Number), ...
# Non-Null Count : 결측값이 아닌, 존재하는 데이터의 개수

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 51301 entries, 0 to 51300
Data columns (total 20 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Index          51301 non-null  int64
 1   Member_ID      51301 non-null  int64
 2   Sales_Type     51301 non-null  object
 3   Contract_Type  51301 non-null  object
 4   Channel        51301 non-null  object
 5   Datetime       51301 non-null  object
 6   Term           51301 non-null  int64
 7   Payment_Type   51301 non-null  object
 8   Product_Type   51301 non-null  object
 9   Amount_Month   51301 non-null  int64
 10  Customer_Type  51299 non-null  object
 11  Age            44329 non-null  float64
 12  Address1       51299 non-null  object
 13  Address2       51299 non-null  object
 14  State          51301 non-null  object
 15  Overdue_count  51301 non-null  int64
 16  Overdue_Type   51301 non-null  object
 17  Gender         51301 non-null  object
 18  Credit_Rank    42520 non-null  float64
 19  Bank           48542 non-null  object
dtypes: float64(2), int64(5), object(13)
memory usage: 7.8+ MB

# 데이터 전처리 

- 데이터 핸들링 기법 
     - 데이터 추출 (행단위 / 열단위)
     - 데이터 정렬 
     - 데이터 필터 (비교구문 활용) 
     - 데이터 요약 (Pivot) 
     - 날짜 데이터 처리 
     - 파생 변수 : 기존에 있는 데이터 항목을 이용해 새로운 항목을 만드는 것
     - 데이터 재구조화 / 병합

In [8]:
# 데이터 추출 (행단위)
df1.head(3) # head() : 상위 n개의 데이터를 추출할 때 사용 (공백 -> 5개)

,Index,Member_ID,Sales_Type,Contract_Type,Channel,Datetime,Term,Payment_Type,Product_Type,Amount_Month,Customer_Type,Age,Address1,Address2,State,Overdue_count,Overdue_Type,Gender,Credit_Rank,Bank
0,1,66758234,렌탈,일반계약,영업방판,2019-05-06,60,CMS,DES-1,96900,개인,42.0,경기도,경기도,계약확정,0,없음,여자,9.0,새마을금고
1,2,66755948,렌탈,교체계약,영업방판,2020-02-20,60,카드이체,DES-1,102900,개인,39.0,경기도,경기도,계약확정,0,없음,남자,2.0,현대카드
2,3,66756657,렌탈,일반계약,홈쇼핑/방송,2019-02-28,60,CMS,DES-1,96900,개인,48.0,경기도,경기도,계약확정,0,없음,여자,8.0,우리은행

In [9]:
df1.tail(3) # tail() : 하위 n개의 데이터를 추출

,Index,Member_ID,Sales_Type,Contract_Type,Channel,Datetime,Term,Payment_Type,Product_Type,Amount_Month,Customer_Type,Age,Address1,Address2,State,Overdue_count,Overdue_Type,Gender,Credit_Rank,Bank
51298,51300,66799197,렌탈,프로모션계약,영업방판,2019-04-01,39,카드이체,ERA,120900,개인,65.0,서울특별시,서울특별시,계약확정,0,없음,여자,1.0,롯데카드
51299,51301,66792778,렌탈,일반계약,홈쇼핑/방송,2020-02-06,60,카드이체,DES-1,96900,개인,54.0,서울특별시,서울특별시,계약확정,0,없음,여자,2.0,롯데카드
51300,51302,66799607,렌탈,일반계약,홈쇼핑/방송,2019-04-24,60,CMS,DES-1,96900,개인,53.0,서울특별시,서울특별시,계약확정,0,없음,여자,8.0,신한은행

In [10]:
# 특정 범위의 데이터를 확인 할 때 
# iloc[n : m] : n번째 부터 m번 이전까지 데이터를 추출 (index location) 
df1.iloc[50:100] # 특정 데이터의 위치를 찾을 때도 대괄호를 사용!

,Index,Member_ID,Sales_Type,Contract_Type,Channel,Datetime,Term,Payment_Type,Product_Type,Amount_Month,Customer_Type,Age,Address1,Address2,State,Overdue_count,Overdue_Type,Gender,Credit_Rank,Bank
50,51,66758548,렌탈,일반계약,영업방판,2019-03-31,60,CMS,DES-1,96900,개인,57.0,서울특별시,서울특별시,계약확정,0,없음,남자,4.0,국민은행
51,52,66758162,렌탈,패키지계약,홈쇼핑/방송,2019-10-03,60,카드이체,DES-1,98400,개인,50.0,서울특별시,서울특별시,계약확정,0,없음,남자,5.0,국민카드
52,53,66758162,렌탈,패키지계약,홈쇼핑/방송,2019-05-04,60,카드이체,DES-2,80400,개인,50.0,서울특별시,서울특별시,계약확정,0,없음,남자,5.0,국민카드
53,54,66590304,렌탈,프로모션계약,영업방판,2019-01-01,60,CMS,DES-2,90900,개인,43.0,서울특별시,서울특별시,계약확정,0,없음,남자,4.0,신한은행
54,55,66670488,렌탈,프로모션계약,영업방판,2019-04-03,60,CMS,DES-1,96900,개인,34.0,서울특별시,서울특별시,계약확정,0,없음,여자,4.0,우리은행
55,56,25856039,렌탈,교체계약,영업방판,2019-05-01,60,CMS,DES-1,96900,사업자,NaN,경상도,부산광역시,계약확정,0,없음,여자,NaN,농협중앙회
56,57,25869517,렌탈,프로모션계약,영업방판,2019-07-22,60,가상계좌,DES-1,96900,사업자,NaN,경상도,부산광역시,계약확정,0,없음,여자,NaN,NaN
57,58,66757967,렌탈,프로모션계약,영업방판,2019-08-21,60,카드이체,DES-1,105900,개인,37.0,경상도,경상도,계약확정,0,없음,여자,5.0,롯데카드
58,59,66260467,렌탈,교체계약,영업방판,2019-02-16,60,CMS,DES-1,96900,개인,42.0,경상도,경상도,계약확정,0,없음,여자,1.0,우리은행
59,60,66758899,렌탈,패키지계약,전문매장H,2019-07-30,60,CMS,DES-1,81900,개인,67.0,경상도,경상도,계약확정,0,없음,남자,2.0,대구은행
60,61,66758899,렌탈,패키지계약,전문매장H,2020-01-22,60,CMS,DES-2,81900,개인,67.0,경상도,경상도,계약확정,0,없음,남자,2.0,대구은행
61,62,66758851,렌탈,일반계약,영업방판,2019-01-04,60,CMS,DES-R4,126900,개인,27.0,경기도,인천광역시,계약확정,12,있음,남자,5.0,농협중앙회
62,63,66757441,렌탈,프로모션계약,영업방판,2019-01-31,60,CMS,DES-3A,90900,개인,55.0,경기도,인천광역시,계약확정,0,없음,남자,7.0,농협회원조합
63,64,66758704,렌탈,프로모션계약,대형마트H,2019-03-09,60,CMS,DES-1,96900,개인,38.0,경기도,인천광역시,계약확정,0,없음,남자,6.0,우리은행
64,65,66420963,멤버십,멤버십3유형,재계약,2019-04-29,12,CMS,DES-1,66900,개인,61.0,경기도,인천광역시,계약확정,0,없음,여자,NaN,국민은행
65,66,66758888,렌탈,프로모션계약,대형마트E,2019-06-30,60,CMS,DES-1,105900,개인,34.0,경기도,경기도,계약확정,0,없음,여자,NaN,우리은행
66,67,66754426,렌탈,프로모션계약,홈쇼핑/방송,2019-10-02,60,CMS,DES-1,105900,개인,55.0,경기도,경기도,계약확정,0,없음,여자,2.0,국민은행
67,68,66758803,렌탈,프로모션계약,대형마트E,2020-03-23,60,CMS,DES-1,105900,개인,41.0,경기도,경기도,계약확정,0,없음,여자,9.0,국민은행
68,69,66758803,렌탈,프로모션계약,대형마트E,2020-06-29,36,CMS,DES-2,96900,개인,41.0,경기도,경기도,계약확정,0,없음,여자,9.0,국민은행
69,70,66755965,렌탈,일반계약,영업방판,2020-07-29,60,CMS,DES-1,96900,개인,41.0,경기도,경기도,계약확정,0,없음,여자,9.0,국민은행
70,71,66316787,렌탈,프로모션계약,홈쇼핑/방송,2019-01-01,60,CMS,DES-1,96900,개인,42.0,경기도,경기도,계약확정,0,없음,남자,2.0,국민은행
71,72,66758653,렌탈,패키지계약,홈쇼핑/방송,2019-02-25,60,CMS,DES-1,81900,개인,69.0,경기도,경기도,계약확정,0,없음,여자,3.0,하나은행
72,73,66758653,렌탈,패키지계약,홈쇼핑/방송,2019-05-08,60,CMS,DES-2,81900,개인,69.0,경기도,경기도,계약확정,0,없음,여자,3.0,하나은행
73,74,66388766,렌탈,교체계약,영업방판,2019-07-13,60,카드이체,DES-1,96900,개인,36.0,경기도,경기도,계약확정,0,없음,남자,NaN,롯데카드
74,75,66750147,렌탈,일반계약,홈쇼핑/인터넷,2019-05-29,60,CMS,DES-1,96900,개인,56.0,경기도,경기도,계약확정,0,없음,여자,1.0,신한은행
75,76,66426523,렌탈,프로모션계약,영업방판,2019-01-01,60,카드이체,DES-3A,90900,개인,51.0,경기도,경기도,계약확정,0,없음,남자,6.0,롯데카드
76,77,66758873,렌탈,패키지계약,홈쇼핑/방송,2019-05-27,60,CMS,DES-1,81900,개인,68.0,경기도,경기도,계약확정,0,없음,남자,3.0,우리은행
77,78,66758873,렌탈,패키지계약,홈쇼핑/방송,2019-05-27,60,CMS,DES-2,81900,개인,68.0,경기도,경기도,계약확정,0,없음,남자,3.0,우리은행
78,79,25742711,렌탈,프로모션계약,영업방판,2019-06-11,60,CMS,DES-1,124200,사업자,60.0,경기도,경기도,계약확정,0,없음,여자,NaN,신한은행
79,80,66422805,렌탈,교체계약,영업방판,2019-06-30,60,CMS,DES-1,102900,개인,56.0,경기도,경기도,계약확정,0,없음,여자,2.0,신한은행
80,81,66543103,렌탈,교체계약,영업방판,2019-09-12,60,CMS,DES-1,102900,개인,43.0,경기도,경기도,계약확정,0,없음,남자,1.0,국민은행
81,82,66144881,렌탈,교체계약,영업방판,2019-01-03,60,CMS,DES-1,96900,개인,51.0,경기도,경기도,계약확정,0,없음,남자,3.0,농협중앙회
82,83,66747865,렌탈,프로모션계약,홈쇼핑/방송,2019-01-03,60,카드이체,DES-1,105900,개인,56.0,경기도,경기도,계약확정,1,있음,남자,1.0,국민카드
83,84,25742708,렌탈,프로모션계약,영업방판,2019-01-15,60,CMS,DES-1,124200,사업자,56.0,경기도,경기도,계약확정,0,없음,여자,NaN,우리은행
84,85,25742708,렌탈,일반계약,영업방판,2019-08-21,60,CMS,DES-3A,102900,사업자,56.0,경기도,경기도,계약확정,0,없음,여자,NaN,우리은행
85,86,25742710,렌탈,프로모션계약,영업방판,2019-09-10,60,CMS,DES-1,124200,사업자,56.0,경기도,경기도,계약확정,0,없음,여자,NaN,우리은행
86,87,25742710,렌탈,일반계약,영업방판,2019-12-25,60,CMS,DES-3A,102900,사업자,56.0,경기도,경기도,계약확정,0,없음,여자,NaN,우리은행
87,88,66758514,렌탈,일반계약,영업방판,2020-01-15,60,카드이체,DES-1,124200,개인,60.0,경기도,경기도,계약확정,0,없음,여자,5.0,롯데카드
88,89,66758843,렌탈,프로모션계약,전문매장Z,2020-05-27,60,CMS,DES-1,96900,개인,73.0,경기도,경기도,계약확정,0,없음,남자,4.0,농협회원조합
89,90,66758546,렌탈,프로모션계약,홈쇼핑/방송,2020-08-06,60,카드이체,DES-1,96900,개인,77.0,서울특별시,서울특별시,계약확정,0,없음,여자,1.0,신한카드
90,91,66369912,렌탈,프로모션계약,영업방판,2019-01-05,60,CMS,DES-1,111900,개인,35.0,서울특별시,서울특별시,계약확정,0,없음,여자,4.0,우리은행
91,92,66758588,렌탈,프로모션계약,영업방판,2019-01-01,60,CMS,DES-1,105900,개인,83.0,서울특별시,서울특별시,계약확정,0,없음,남자,3.0,농협회원조합
92,93,66643114,렌탈,프로모션계약,영업방판,2019-09-10,60,CMS,DES-2,90900,개인,54.0,서울특별시,서울특별시,계약확정,0,없음,여자,7.0,농협중앙회
93,94,66879582,렌탈,프로모션계약,대형마트H,2020-06-18,60,CMS,DES-1,96900,개인,52.0,서울특별시,서울특별시,계약확정,0,없음,남자,5.0,신한은행
94,95,66758611,렌탈,일반계약,홈쇼핑/방송,2019-01-20,60,카드이체,DES-1,96900,개인,60.0,서울특별시,서울특별시,계약확정,0,없음,남자,1.0,신한카드
95,96,25751808,렌탈,프로모션계약,영업방판,2019-01-01,60,CMS,DES-3A,90900,사업자,NaN,경기도,경기도,계약확정,15,있음,여자,NaN,기업은행
96,97,66758771,렌탈,일반계약,영업방판,2019-10-23,60,CMS,DES-1,96900,개인,49.0,경기도,경기도,계약확정,0,없음,남자,1.0,농협회원조합
97,98,66677887,렌탈,프로모션계약,영업방판,2019-04-14,60,카드이체,DES-1,96900,개인,52.0,경기도,경기도,계약확정,0,없음,여자,1.0,롯데카드
98,99,66758748,렌탈,프로모션계약,전문매장H,2019-04-14,60,카드이체,DES-1,96900,개인,39.0,경기도,경기도,계약확정,0,없음,남자,3.0,삼성카드
99,100,66423756,멤버십,멤버십3유형,재계약,2019-01-01,12,CMS,DES-1,75900,개인,32.0,전라도,광주광역시,계약확정,0,없음,남자,NaN,하나은행

In [11]:
# 상위 150개의 데이터를 뽑아서  result1.csv파일로 저장 
# to_csv() : csv파일 형식으로 데이터를 저장
df1.head(150).to_csv('result1.csv', encoding='cp949')
# df1 데이터에서, 먼저 150개의 데이터를 추출한 뒤, result1.csv파일로 저장된 순서를 가지고 있다. 
# encoding='cp949' : 한글이나 특수기호 깨짐현상을 방지하기 위한 인코더

In [12]:
# 엑셀 파이썬 라이브러리 (아나콘다 설치하면 필요 X)
# !pip --trusted-host pypi.org --trusted-host files.pythonhost.org install openpyxl

In [13]:
df1.head(150).to_excel('result.xlsx') # 아나콘다 설치하면 필요 X

 - csv : Coomma Separtaed Values 콤마로 구분된 데이터를 정리한 파일 -> 정형데이터의 구조를 가지고 있지 않음
 - Excel : 정형데이터의 구조(index- column- value)를 가진 상태에서 파일을 저장, 용량이 보통 더 큰 경우가 많음

In [14]:
# 열단위 추출 
df1['Amount_Month']  # 하나의 열 데이터를 추출 
# Series 구조 : index - value (순서 - 값) 으로만 이루어진 순열 구조 (차트 구조가 아님)

0         96900
1        102900
2         96900
3         66900
4         66900
          ...
51296     96900
51297     96900
51298    120900
51299     96900
51300     96900
Name: Amount_Month, Length: 51301, dtype: int64

In [15]:
df1['Amount_Month'].mean()  # 하나의 열의 평균값을 계산

93994.97428900021

In [16]:
# Python Pandas 데이터 구조 

# Series 구조 : index - value (순서 - 값) 으로만 이루어진 순열 구조 (차트 구조가 아님)
# Data Frame 구조 : index - column - value 구조 
# Series 가 여러 줄 모이면 하나의 Data Frame 이 구성된다. 

# 여러 열을 추출할 때 (Data Frame 형태로 데이터를 추출 / 대괄호 2개를 사용한다! )
df1[['Amount_Month', 'Channel', 'Sales_Type']]

       Amount_Month Channel Sales_Type
0             96900    영업방판         렌탈
1            102900    영업방판         렌탈
2             96900  홈쇼핑/방송         렌탈
3             66900     재계약        멤버십
4             66900     재계약        멤버십
...             ...     ...        ...
51296         96900   대형마트A         렌탈
51297         96900   대형마트A         렌탈
51298        120900    영업방판         렌탈
51299         96900  홈쇼핑/방송         렌탈
51300         96900  홈쇼핑/방송         렌탈

[51301 rows x 3 columns]

In [17]:
df1[['Amount_Month', 'Channel']].head(10)

   Amount_Month Channel
0         96900    영업방판
1        102900    영업방판
2         96900  홈쇼핑/방송
3         66900     재계약
4         66900     재계약
5         90900    영업방판
6         98400  홈쇼핑/방송
7         80400  홈쇼핑/방송
8        102900    영업방판
9        105900    영업방판

In [19]:
# 데이터 정렬 
df1.sort_values(by='Amount_Month') # 오름차순 정렬이 됨(ascending, 숫자가 낮은순 -> 높은순)

,Index,Member_ID,Sales_Type,Contract_Type,Channel,Datetime,Term,Payment_Type,Product_Type,Amount_Month,Customer_Type,Age,Address1,Address2,State,Overdue_count,Overdue_Type,Gender,Credit_Rank,Bank
35768,35770,66784964,멤버십,멤버십2유형,전문매장H,2019-02-07,36,무통장,DES-1,54603,개인,NaN,경기도,경기도,계약확정,0,없음,여자,NaN,NaN
43022,43024,66792946,멤버십,멤버십2유형,전문매장H,2020-06-30,36,무통장,DES-1,54603,개인,NaN,전라도,광주광역시,계약확정,0,없음,여자,NaN,NaN
49993,49995,66796388,멤버십,멤버십2유형,전문매장H,2020-03-25,36,무통장,DES-1,54603,개인,NaN,서울특별시,서울특별시,계약확정,0,없음,여자,NaN,NaN
33803,33805,66783630,멤버십,멤버십2유형,전문매장H,2020-07-28,36,무통장,DES-1,54603,개인,NaN,경기도,인천광역시,계약확정,0,없음,여자,NaN,NaN
45246,45248,66793779,멤버십,멤버십2유형,전문매장H,2019-07-16,36,무통장,DES-1,54603,개인,NaN,서울특별시,서울특별시,계약확정,0,없음,여자,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5399,5400,25742182,렌탈,프로모션계약,영업방판,2019-05-18,39,CMS,MMC,215700,사업자,NaN,경기도,경기도,계약확정,1,있음,여자,NaN,신한은행
49896,49898,25731710,렌탈,프로모션계약,영업방판,2019-09-30,39,가상계좌,MMC,215700,사업자,NaN,경기도,경기도,계약확정,0,없음,여자,NaN,NaN
49897,49899,25731710,렌탈,프로모션계약,영업방판,2019-12-06,39,가상계좌,MMC,215700,사업자,NaN,경기도,경기도,계약확정,0,없음,여자,NaN,NaN
28147,28149,25704137,렌탈,프로모션계약,전단홍보,2019-07-25,39,CMS,MMC,215700,사업자,NaN,경상도,경상도,계약확정,0,없음,여자,NaN,국민은행
38497,38499,25734005,렌탈,프로모션계약,영업방판,2019-06-05,39,CMS,MMC,215700,사업자,58.0,전라도,전라도,계약확정,0,없음,남자,1.0,농협중앙회

In [20]:
df1.sort_values(by='Amount_Month', ascending=False) # 내림차순 정렬이 됨(descending)

,Index,Member_ID,Sales_Type,Contract_Type,Channel,Datetime,Term,Payment_Type,Product_Type,Amount_Month,Customer_Type,Age,Address1,Address2,State,Overdue_count,Overdue_Type,Gender,Credit_Rank,Bank
19773,19775,25740247,렌탈,프로모션계약,전단홍보,2019-11-14,39,가상계좌,MMC,215700,사업자,NaN,경상도,경상도,계약확정,0,없음,여자,NaN,NaN
28147,28149,25704137,렌탈,프로모션계약,전단홍보,2019-07-25,39,CMS,MMC,215700,사업자,NaN,경상도,경상도,계약확정,0,없음,여자,NaN,국민은행
19413,19415,25710320,렌탈,프로모션계약,영업방판,2020-01-29,39,CMS,MMC,215700,사업자,NaN,경기도,경기도,계약확정,0,없음,여자,NaN,기업은행
19412,19414,25710321,렌탈,프로모션계약,영업방판,2019-09-15,39,CMS,MMC,215700,사업자,NaN,경기도,경기도,계약확정,0,없음,여자,NaN,기업은행
37522,37524,25733781,렌탈,프로모션계약,영업방판,2020-07-02,39,CMS,MMC,215700,사업자,NaN,경기도,경기도,계약확정,0,없음,여자,NaN,기업은행
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
45304,45306,66793756,멤버십,멤버십2유형,전문매장H,2019-10-07,36,무통장,DES-1,54603,개인,NaN,충청도,충청도,계약확정,0,없음,여자,NaN,NaN
50428,50430,66797402,멤버십,멤버십2유형,전문매장H,2019-12-27,36,무통장,DES-1,54603,개인,NaN,경기도,경기도,계약확정,0,없음,여자,NaN,NaN
45302,45304,66793342,멤버십,멤버십2유형,전문매장H,2019-04-03,36,무통장,DES-1,54603,개인,NaN,강원도,강원도,계약확정,0,없음,여자,NaN,NaN
41153,41155,66790864,멤버십,멤버십2유형,전문매장H,2019-02-16,36,무통장,DES-1,54603,개인,NaN,경기도,경기도,계약확정,0,없음,여자,NaN,NaN
39373,39375,66788207,멤버십,멤버십2유형,전문매장H,2020-05-11,36,무통장,DES-1,54603,개인,NaN,제주도,제주도,계약확정,0,없음,여자,NaN,NaN

In [21]:
 # 정렬을 2개 이상의 항목으로 할 때  ex) 월랜탈비용('Amount_Month')이 높으면서, 연령('Age')이 높은 순서대로 정렬
df1.sort_values(by=['Amount_Month', 'Age'])  # 아직은 오름차순 정렬임 (월랜탈비용이 낮으면서 연령도 낮은 순서대로 정렬됨)

,Index,Member_ID,Sales_Type,Contract_Type,Channel,Datetime,Term,Payment_Type,Product_Type,Amount_Month,Customer_Type,Age,Address1,Address2,State,Overdue_count,Overdue_Type,Gender,Credit_Rank,Bank
33107,33109,66783626,멤버십,멤버십2유형,전문매장H,2019-12-19,36,무통장,DES-1,54603,개인,NaN,경상도,경상도,계약확정,0,없음,여자,NaN,NaN
33803,33805,66783630,멤버십,멤버십2유형,전문매장H,2020-07-28,36,무통장,DES-1,54603,개인,NaN,경기도,인천광역시,계약확정,0,없음,여자,NaN,NaN
33844,33846,66783744,멤버십,멤버십2유형,전문매장H,2019-03-22,36,무통장,DES-1,54603,개인,NaN,서울특별시,서울특별시,계약확정,0,없음,여자,NaN,NaN
34129,34131,66783985,멤버십,멤버십2유형,전문매장H,2020-01-22,36,무통장,DES-1,54603,개인,NaN,서울특별시,서울특별시,계약확정,0,없음,여자,NaN,NaN
34311,34313,66783750,멤버십,멤버십2유형,전문매장H,2019-02-21,36,무통장,DES-1,54603,개인,NaN,경상도,대구광역시,계약확정,0,없음,여자,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
35084,35086,25867372,렌탈,프로모션계약,영업방판,2019-05-01,39,가상계좌,MMC,215700,사업자,NaN,강원도,강원도,계약확정,0,없음,여자,NaN,NaN
35085,35087,25867372,렌탈,프로모션계약,영업방판,2019-02-07,39,가상계좌,MMC,215700,사업자,NaN,강원도,강원도,계약확정,0,없음,여자,NaN,NaN
37522,37524,25733781,렌탈,프로모션계약,영업방판,2020-07-02,39,CMS,MMC,215700,사업자,NaN,경기도,경기도,계약확정,0,없음,여자,NaN,기업은행
49896,49898,25731710,렌탈,프로모션계약,영업방판,2019-09-30,39,가상계좌,MMC,215700,사업자,NaN,경기도,경기도,계약확정,0,없음,여자,NaN,NaN
49897,49899,25731710,렌탈,프로모션계약,영업방판,2019-12-06,39,가상계좌,MMC,215700,사업자,NaN,경기도,경기도,계약확정,0,없음,여자,NaN,NaN

In [22]:
# 월랜탈비용('Amount_Month')이 높으면서, 연령('Age')이 높은 순서대로 정렬
df1.sort_values(by=['Amount_Month', 'Age'], ascending=False)

,Index,Member_ID,Sales_Type,Contract_Type,Channel,Datetime,Term,Payment_Type,Product_Type,Amount_Month,Customer_Type,Age,Address1,Address2,State,Overdue_count,Overdue_Type,Gender,Credit_Rank,Bank
38497,38499,25734005,렌탈,프로모션계약,영업방판,2019-06-05,39,CMS,MMC,215700,사업자,58.0,전라도,전라도,계약확정,0,없음,남자,1.0,농협중앙회
44838,44840,25732681,렌탈,프로모션계약,영업방판,2020-04-12,39,CMS,MMC,215700,사업자,51.0,경상도,경상도,계약확정,2,있음,여자,NaN,우체국
44839,44841,25732681,렌탈,프로모션계약,영업방판,2020-04-18,39,CMS,MMC,215700,사업자,51.0,경상도,경상도,계약확정,2,있음,여자,NaN,우체국
44840,44842,25732681,렌탈,프로모션계약,영업방판,2020-06-01,39,CMS,MMC,215700,사업자,51.0,경상도,경상도,계약확정,2,있음,여자,NaN,우체국
5399,5400,25742182,렌탈,프로모션계약,영업방판,2019-05-18,39,CMS,MMC,215700,사업자,NaN,경기도,경기도,계약확정,1,있음,여자,NaN,신한은행
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
51210,51212,66799109,멤버십,멤버십2유형,전문매장H,2019-09-04,36,무통장,DES-1,54603,개인,NaN,경상도,부산광역시,계약확정,0,없음,여자,NaN,NaN
51277,51279,66799700,멤버십,멤버십2유형,전문매장H,2019-02-24,36,무통장,DES-1,54603,개인,NaN,경기도,인천광역시,계약확정,0,없음,여자,NaN,NaN
51280,51282,66799156,멤버십,멤버십2유형,전문매장H,2019-03-10,36,무통장,DES-1,54603,개인,NaN,전라도,광주광역시,계약확정,0,없음,여자,NaN,NaN
51284,51286,66799094,멤버십,멤버십2유형,전문매장H,2019-02-24,36,무통장,DES-1,54603,개인,NaN,서울특별시,서울특별시,계약확정,0,없음,여자,NaN,NaN
51290,51292,66798812,멤버십,멤버십2유형,전문매장H,2020-01-28,36,무통장,DES-1,54603,개인,NaN,경기도,경기도,계약확정,0,없음,여자,NaN,NaN

In [23]:
# 월랜탈비용('Amount_Month')이 낮으면서, 연령('Age')이 높은 순서대로 정렬
df1.sort_values(by=['Amount_Month', 'Age'], ascending=[True,False])

,Index,Member_ID,Sales_Type,Contract_Type,Channel,Datetime,Term,Payment_Type,Product_Type,Amount_Month,Customer_Type,Age,Address1,Address2,State,Overdue_count,Overdue_Type,Gender,Credit_Rank,Bank
33107,33109,66783626,멤버십,멤버십2유형,전문매장H,2019-12-19,36,무통장,DES-1,54603,개인,NaN,경상도,경상도,계약확정,0,없음,여자,NaN,NaN
33803,33805,66783630,멤버십,멤버십2유형,전문매장H,2020-07-28,36,무통장,DES-1,54603,개인,NaN,경기도,인천광역시,계약확정,0,없음,여자,NaN,NaN
33844,33846,66783744,멤버십,멤버십2유형,전문매장H,2019-03-22,36,무통장,DES-1,54603,개인,NaN,서울특별시,서울특별시,계약확정,0,없음,여자,NaN,NaN
34129,34131,66783985,멤버십,멤버십2유형,전문매장H,2020-01-22,36,무통장,DES-1,54603,개인,NaN,서울특별시,서울특별시,계약확정,0,없음,여자,NaN,NaN
34311,34313,66783750,멤버십,멤버십2유형,전문매장H,2019-02-21,36,무통장,DES-1,54603,개인,NaN,경상도,대구광역시,계약확정,0,없음,여자,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
35084,35086,25867372,렌탈,프로모션계약,영업방판,2019-05-01,39,가상계좌,MMC,215700,사업자,NaN,강원도,강원도,계약확정,0,없음,여자,NaN,NaN
35085,35087,25867372,렌탈,프로모션계약,영업방판,2019-02-07,39,가상계좌,MMC,215700,사업자,NaN,강원도,강원도,계약확정,0,없음,여자,NaN,NaN
37522,37524,25733781,렌탈,프로모션계약,영업방판,2020-07-02,39,CMS,MMC,215700,사업자,NaN,경기도,경기도,계약확정,0,없음,여자,NaN,기업은행
49896,49898,25731710,렌탈,프로모션계약,영업방판,2019-09-30,39,가상계좌,MMC,215700,사업자,NaN,경기도,경기도,계약확정,0,없음,여자,NaN,NaN
49897,49899,25731710,렌탈,프로모션계약,영업방판,2019-12-06,39,가상계좌,MMC,215700,사업자,NaN,경기도,경기도,계약확정,0,없음,여자,NaN,NaN

In [25]:
# 월랜탈비용('Amount_Month')이 높고, 연체건수 ('Overdue_count')는 낮은 상위 50명의 고객 계약 명단을 추출해서, result2.xlsx 도출
df1.sort_values(by=['Amount_Month','Overdue_count'],ascending=[False,True]).head(50).to_excel('result2.xlsx')

In [28]:
# 데이터 필터 (Filter) / loc[] : 특정 조건(True)에 해당하는 데이터를 추출해주는 함수이다. 
# 층별화 : 범주형 데이터 항목의 특성에 따라 다른 데이터의 통계적 특성이 달라질 수 있다. 
# ex) 병원데이터에서 남성, 여성 데이터에서 생물학적으로 남.녀의 차이로 인해 근밀도나 체중에 있어서의 차이가 생길 수 있다. 

# 월랜탈비용('Amount_Month')이 10만원 이상인 고객들을 따로 뽑아 분석 
cond1 = (df1['Amount_Month'] >= 100000) # 월랜탈비용이 10만원 이상인 조건을 써줌
df1.loc[cond1] # 해당 조건에 대한 데이터를 추출

,Index,Member_ID,Sales_Type,Contract_Type,Channel,Datetime,Term,Payment_Type,Product_Type,Amount_Month,Customer_Type,Age,Address1,Address2,State,Overdue_count,Overdue_Type,Gender,Credit_Rank,Bank
1,2,66755948,렌탈,교체계약,영업방판,2020-02-20,60,카드이체,DES-1,102900,개인,39.0,경기도,경기도,계약확정,0,없음,남자,2.0,현대카드
8,9,66758007,렌탈,일반계약,영업방판,2019-06-30,60,카드이체,DES-3A,102900,개인,62.0,경상도,경상도,계약확정,0,없음,여자,2.0,롯데카드
9,10,66756702,렌탈,프로모션계약,영업방판,2019-06-30,60,CMS,DES-1,105900,개인,51.0,경상도,경상도,계약확정,0,없음,여자,1.0,신한은행
19,20,66755490,렌탈,프로모션계약,영업방판,2020-01-17,60,카드이체,DES-1,105900,개인,58.0,경상도,부산광역시,계약확정,0,없음,여자,1.0,롯데카드
21,22,66758336,렌탈,프로모션계약,전문매장Z,2020-04-25,60,CMS,DES-1,111900,개인,72.0,경상도,부산광역시,계약확정,0,없음,남자,9.0,농협회원조합
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
51286,51288,66799302,렌탈,프로모션계약,영업방판,2019-05-21,60,카드이체,DES-1,105900,개인,39.0,서울특별시,서울특별시,계약확정,0,없음,여자,1.0,롯데카드
51287,51289,66444051,렌탈,교체계약,대형마트A,2019-09-29,60,CMS,DES-1,102900,개인,90.0,서울특별시,서울특별시,계약확정,0,없음,남자,NaN,신한은행
51288,51290,66799492,렌탈,프로모션계약,영업방판,2019-02-24,60,카드이체,DES-1,105900,개인,52.0,경기도,경기도,계약확정,0,없음,남자,NaN,삼성카드
51291,51293,25731743,렌탈,일반계약,영업방판,2020-02-12,60,CMS,DES-3A,102900,사업자,NaN,경기도,경기도,계약확정,10,있음,여자,NaN,농협중앙회
51298,51300,66799197,렌탈,프로모션계약,영업방판,2019-04-01,39,카드이체,ERA,120900,개인,65.0,서울특별시,서울특별시,계약확정,0,없음,여자,1.0,롯데카드

In [29]:
# 월랜탈비용('Amount_Month')이 10만원 이상이면서, 연체건수('Overdue_count')가 5회 이하인 고객명단을 추출
cond1 = (df1['Amount_Month'] >= 100000)
cond2 = (df1['Overdue_count'] <= 5)
df1.loc[cond1 & cond2]  # 두 조건을 모두 만족하는 경우 (&(And) 기호 사용)

,Index,Member_ID,Sales_Type,Contract_Type,Channel,Datetime,Term,Payment_Type,Product_Type,Amount_Month,Customer_Type,Age,Address1,Address2,State,Overdue_count,Overdue_Type,Gender,Credit_Rank,Bank
1,2,66755948,렌탈,교체계약,영업방판,2020-02-20,60,카드이체,DES-1,102900,개인,39.0,경기도,경기도,계약확정,0,없음,남자,2.0,현대카드
8,9,66758007,렌탈,일반계약,영업방판,2019-06-30,60,카드이체,DES-3A,102900,개인,62.0,경상도,경상도,계약확정,0,없음,여자,2.0,롯데카드
9,10,66756702,렌탈,프로모션계약,영업방판,2019-06-30,60,CMS,DES-1,105900,개인,51.0,경상도,경상도,계약확정,0,없음,여자,1.0,신한은행
19,20,66755490,렌탈,프로모션계약,영업방판,2020-01-17,60,카드이체,DES-1,105900,개인,58.0,경상도,부산광역시,계약확정,0,없음,여자,1.0,롯데카드
21,22,66758336,렌탈,프로모션계약,전문매장Z,2020-04-25,60,CMS,DES-1,111900,개인,72.0,경상도,부산광역시,계약확정,0,없음,남자,9.0,농협회원조합
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
51279,51281,66798237,렌탈,패키지계약,직영계열사A,2019-03-09,60,CMS,DES-3A,101400,개인,NaN,경기도,인천광역시,계약확정,0,없음,여자,4.0,국민은행
51286,51288,66799302,렌탈,프로모션계약,영업방판,2019-05-21,60,카드이체,DES-1,105900,개인,39.0,서울특별시,서울특별시,계약확정,0,없음,여자,1.0,롯데카드
51287,51289,66444051,렌탈,교체계약,대형마트A,2019-09-29,60,CMS,DES-1,102900,개인,90.0,서울특별시,서울특별시,계약확정,0,없음,남자,NaN,신한은행
51288,51290,66799492,렌탈,프로모션계약,영업방판,2019-02-24,60,카드이체,DES-1,105900,개인,52.0,경기도,경기도,계약확정,0,없음,남자,NaN,삼성카드
51298,51300,66799197,렌탈,프로모션계약,영업방판,2019-04-01,39,카드이체,ERA,120900,개인,65.0,서울특별시,서울특별시,계약확정,0,없음,여자,1.0,롯데카드

In [30]:
df1.loc[cond1 | cond2] # 두 조건 중 하나의 조건만 만족해도 데이터를 불러옴 (Or |)

,Index,Member_ID,Sales_Type,Contract_Type,Channel,Datetime,Term,Payment_Type,Product_Type,Amount_Month,Customer_Type,Age,Address1,Address2,State,Overdue_count,Overdue_Type,Gender,Credit_Rank,Bank
0,1,66758234,렌탈,일반계약,영업방판,2019-05-06,60,CMS,DES-1,96900,개인,42.0,경기도,경기도,계약확정,0,없음,여자,9.0,새마을금고
1,2,66755948,렌탈,교체계약,영업방판,2020-02-20,60,카드이체,DES-1,102900,개인,39.0,경기도,경기도,계약확정,0,없음,남자,2.0,현대카드
2,3,66756657,렌탈,일반계약,홈쇼핑/방송,2019-02-28,60,CMS,DES-1,96900,개인,48.0,경기도,경기도,계약확정,0,없음,여자,8.0,우리은행
3,4,66423450,멤버십,멤버십3유형,재계약,2019-05-13,12,CMS,DES-1,66900,개인,39.0,경기도,경기도,계약확정,0,없음,남자,5.0,농협회원조합
5,6,66165241,렌탈,프로모션계약,영업방판,2019-07-29,60,CMS,DES-3A,90900,개인,53.0,경상도,경상도,계약확정,0,없음,여자,5.0,농협중앙회
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
51296,51298,66579515,렌탈,프로모션계약,대형마트A,2019-03-01,60,CMS,DES-3A,96900,개인,47.0,경기도,경기도,계약확정,0,없음,남자,NaN,기업은행
51297,51299,66799558,렌탈,일반계약,대형마트A,2019-04-01,60,CMS,DES-1,96900,개인,42.0,경기도,경기도,계약확정,0,없음,여자,8.0,새마을금고
51298,51300,66799197,렌탈,프로모션계약,영업방판,2019-04-01,39,카드이체,ERA,120900,개인,65.0,서울특별시,서울특별시,계약확정,0,없음,여자,1.0,롯데카드
51299,51301,66792778,렌탈,일반계약,홈쇼핑/방송,2020-02-06,60,카드이체,DES-1,96900,개인,54.0,서울특별시,서울특별시,계약확정,0,없음,여자,2.0,롯데카드
51300,51302,66799607,렌탈,일반계약,홈쇼핑/방송,2019-04-24,60,CMS,DES-1,96900,개인,53.0,서울특별시,서울특별시,계약확정,0,없음,여자,8.0,신한은행

In [31]:
# 또 다른 동일한 방법 
cond3 = (df1['Amount_Month'] >= 100000) & (df1['Overdue_count'] <= 5)
df1.loc[cond3]

,Index,Member_ID,Sales_Type,Contract_Type,Channel,Datetime,Term,Payment_Type,Product_Type,Amount_Month,Customer_Type,Age,Address1,Address2,State,Overdue_count,Overdue_Type,Gender,Credit_Rank,Bank
1,2,66755948,렌탈,교체계약,영업방판,2020-02-20,60,카드이체,DES-1,102900,개인,39.0,경기도,경기도,계약확정,0,없음,남자,2.0,현대카드
8,9,66758007,렌탈,일반계약,영업방판,2019-06-30,60,카드이체,DES-3A,102900,개인,62.0,경상도,경상도,계약확정,0,없음,여자,2.0,롯데카드
9,10,66756702,렌탈,프로모션계약,영업방판,2019-06-30,60,CMS,DES-1,105900,개인,51.0,경상도,경상도,계약확정,0,없음,여자,1.0,신한은행
19,20,66755490,렌탈,프로모션계약,영업방판,2020-01-17,60,카드이체,DES-1,105900,개인,58.0,경상도,부산광역시,계약확정,0,없음,여자,1.0,롯데카드
21,22,66758336,렌탈,프로모션계약,전문매장Z,2020-04-25,60,CMS,DES-1,111900,개인,72.0,경상도,부산광역시,계약확정,0,없음,남자,9.0,농협회원조합
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
51279,51281,66798237,렌탈,패키지계약,직영계열사A,2019-03-09,60,CMS,DES-3A,101400,개인,NaN,경기도,인천광역시,계약확정,0,없음,여자,4.0,국민은행
51286,51288,66799302,렌탈,프로모션계약,영업방판,2019-05-21,60,카드이체,DES-1,105900,개인,39.0,서울특별시,서울특별시,계약확정,0,없음,여자,1.0,롯데카드
51287,51289,66444051,렌탈,교체계약,대형마트A,2019-09-29,60,CMS,DES-1,102900,개인,90.0,서울특별시,서울특별시,계약확정,0,없음,남자,NaN,신한은행
51288,51290,66799492,렌탈,프로모션계약,영업방판,2019-02-24,60,카드이체,DES-1,105900,개인,52.0,경기도,경기도,계약확정,0,없음,남자,NaN,삼성카드
51298,51300,66799197,렌탈,프로모션계약,영업방판,2019-04-01,39,카드이체,ERA,120900,개인,65.0,서울특별시,서울특별시,계약확정,0,없음,여자,1.0,롯데카드

In [32]:
# 또 다른 동일한 방법2 
df1.loc[(df1['Amount_Month'] >= 100000) & (df1['Overdue_count'] <= 5)]

,Index,Member_ID,Sales_Type,Contract_Type,Channel,Datetime,Term,Payment_Type,Product_Type,Amount_Month,Customer_Type,Age,Address1,Address2,State,Overdue_count,Overdue_Type,Gender,Credit_Rank,Bank
1,2,66755948,렌탈,교체계약,영업방판,2020-02-20,60,카드이체,DES-1,102900,개인,39.0,경기도,경기도,계약확정,0,없음,남자,2.0,현대카드
8,9,66758007,렌탈,일반계약,영업방판,2019-06-30,60,카드이체,DES-3A,102900,개인,62.0,경상도,경상도,계약확정,0,없음,여자,2.0,롯데카드
9,10,66756702,렌탈,프로모션계약,영업방판,2019-06-30,60,CMS,DES-1,105900,개인,51.0,경상도,경상도,계약확정,0,없음,여자,1.0,신한은행
19,20,66755490,렌탈,프로모션계약,영업방판,2020-01-17,60,카드이체,DES-1,105900,개인,58.0,경상도,부산광역시,계약확정,0,없음,여자,1.0,롯데카드
21,22,66758336,렌탈,프로모션계약,전문매장Z,2020-04-25,60,CMS,DES-1,111900,개인,72.0,경상도,부산광역시,계약확정,0,없음,남자,9.0,농협회원조합
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
51279,51281,66798237,렌탈,패키지계약,직영계열사A,2019-03-09,60,CMS,DES-3A,101400,개인,NaN,경기도,인천광역시,계약확정,0,없음,여자,4.0,국민은행
51286,51288,66799302,렌탈,프로모션계약,영업방판,2019-05-21,60,카드이체,DES-1,105900,개인,39.0,서울특별시,서울특별시,계약확정,0,없음,여자,1.0,롯데카드
51287,51289,66444051,렌탈,교체계약,대형마트A,2019-09-29,60,CMS,DES-1,102900,개인,90.0,서울특별시,서울특별시,계약확정,0,없음,남자,NaN,신한은행
51288,51290,66799492,렌탈,프로모션계약,영업방판,2019-02-24,60,카드이체,DES-1,105900,개인,52.0,경기도,경기도,계약확정,0,없음,남자,NaN,삼성카드
51298,51300,66799197,렌탈,프로모션계약,영업방판,2019-04-01,39,카드이체,ERA,120900,개인,65.0,서울특별시,서울특별시,계약확정,0,없음,여자,1.0,롯데카드

In [34]:
# 판매유형(Sales_Type)이 '렌탈'에 해당하는 데이터만 추출 
cond4 = (df1['Sales_Type'] == '렌탈')
df1.loc[cond4]

,Index,Member_ID,Sales_Type,Contract_Type,Channel,Datetime,Term,Payment_Type,Product_Type,Amount_Month,Customer_Type,Age,Address1,Address2,State,Overdue_count,Overdue_Type,Gender,Credit_Rank,Bank
0,1,66758234,렌탈,일반계약,영업방판,2019-05-06,60,CMS,DES-1,96900,개인,42.0,경기도,경기도,계약확정,0,없음,여자,9.0,새마을금고
1,2,66755948,렌탈,교체계약,영업방판,2020-02-20,60,카드이체,DES-1,102900,개인,39.0,경기도,경기도,계약확정,0,없음,남자,2.0,현대카드
2,3,66756657,렌탈,일반계약,홈쇼핑/방송,2019-02-28,60,CMS,DES-1,96900,개인,48.0,경기도,경기도,계약확정,0,없음,여자,8.0,우리은행
5,6,66165241,렌탈,프로모션계약,영업방판,2019-07-29,60,CMS,DES-3A,90900,개인,53.0,경상도,경상도,계약확정,0,없음,여자,5.0,농협중앙회
6,7,66751017,렌탈,패키지계약,홈쇼핑/방송,2019-01-30,60,카드이체,DES-1,98400,개인,66.0,경상도,경상도,계약확정,0,없음,남자,1.0,롯데카드
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
51296,51298,66579515,렌탈,프로모션계약,대형마트A,2019-03-01,60,CMS,DES-3A,96900,개인,47.0,경기도,경기도,계약확정,0,없음,남자,NaN,기업은행
51297,51299,66799558,렌탈,일반계약,대형마트A,2019-04-01,60,CMS,DES-1,96900,개인,42.0,경기도,경기도,계약확정,0,없음,여자,8.0,새마을금고
51298,51300,66799197,렌탈,프로모션계약,영업방판,2019-04-01,39,카드이체,ERA,120900,개인,65.0,서울특별시,서울특별시,계약확정,0,없음,여자,1.0,롯데카드
51299,51301,66792778,렌탈,일반계약,홈쇼핑/방송,2020-02-06,60,카드이체,DES-1,96900,개인,54.0,서울특별시,서울특별시,계약확정,0,없음,여자,2.0,롯데카드
51300,51302,66799607,렌탈,일반계약,홈쇼핑/방송,2019-04-24,60,CMS,DES-1,96900,개인,53.0,서울특별시,서울특별시,계약확정,0,없음,여자,8.0,신한은행

In [38]:
# 고객들의 유입경로 (Channel)이 '영업방판', '홈쇼핑/방송', '대형마트A' 여러 항목에 대해 데이터를 추출 

cond5 = (df1['Channel'] == '영업방판')
cond6 = (df1['Channel'] == '홈쇼핑/방송')
cond7 = (df1['Channel'] == '대형마트A')
df1.loc[cond5|cond6|cond7]

,Index,Member_ID,Sales_Type,Contract_Type,Channel,Datetime,Term,Payment_Type,Product_Type,Amount_Month,Customer_Type,Age,Address1,Address2,State,Overdue_count,Overdue_Type,Gender,Credit_Rank,Bank
0,1,66758234,렌탈,일반계약,영업방판,2019-05-06,60,CMS,DES-1,96900,개인,42.0,경기도,경기도,계약확정,0,없음,여자,9.0,새마을금고
1,2,66755948,렌탈,교체계약,영업방판,2020-02-20,60,카드이체,DES-1,102900,개인,39.0,경기도,경기도,계약확정,0,없음,남자,2.0,현대카드
2,3,66756657,렌탈,일반계약,홈쇼핑/방송,2019-02-28,60,CMS,DES-1,96900,개인,48.0,경기도,경기도,계약확정,0,없음,여자,8.0,우리은행
5,6,66165241,렌탈,프로모션계약,영업방판,2019-07-29,60,CMS,DES-3A,90900,개인,53.0,경상도,경상도,계약확정,0,없음,여자,5.0,농협중앙회
6,7,66751017,렌탈,패키지계약,홈쇼핑/방송,2019-01-30,60,카드이체,DES-1,98400,개인,66.0,경상도,경상도,계약확정,0,없음,남자,1.0,롯데카드
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
51296,51298,66579515,렌탈,프로모션계약,대형마트A,2019-03-01,60,CMS,DES-3A,96900,개인,47.0,경기도,경기도,계약확정,0,없음,남자,NaN,기업은행
51297,51299,66799558,렌탈,일반계약,대형마트A,2019-04-01,60,CMS,DES-1,96900,개인,42.0,경기도,경기도,계약확정,0,없음,여자,8.0,새마을금고
51298,51300,66799197,렌탈,프로모션계약,영업방판,2019-04-01,39,카드이체,ERA,120900,개인,65.0,서울특별시,서울특별시,계약확정,0,없음,여자,1.0,롯데카드
51299,51301,66792778,렌탈,일반계약,홈쇼핑/방송,2020-02-06,60,카드이체,DES-1,96900,개인,54.0,서울특별시,서울특별시,계약확정,0,없음,여자,2.0,롯데카드
51300,51302,66799607,렌탈,일반계약,홈쇼핑/방송,2019-04-24,60,CMS,DES-1,96900,개인,53.0,서울특별시,서울특별시,계약확정,0,없음,여자,8.0,신한은행

In [42]:
# isin() : 특정 리스트 내의 데이터가 있다면 True, 없다면 False 
cond8 = (df1['Channel'].isin( ['영업방판', '홈쇼핑/방송', '대형마트A']))
df1.loc[cond8]

,Index,Member_ID,Sales_Type,Contract_Type,Channel,Datetime,Term,Payment_Type,Product_Type,Amount_Month,Customer_Type,Age,Address1,Address2,State,Overdue_count,Overdue_Type,Gender,Credit_Rank,Bank
0,1,66758234,렌탈,일반계약,영업방판,2019-05-06,60,CMS,DES-1,96900,개인,42.0,경기도,경기도,계약확정,0,없음,여자,9.0,새마을금고
1,2,66755948,렌탈,교체계약,영업방판,2020-02-20,60,카드이체,DES-1,102900,개인,39.0,경기도,경기도,계약확정,0,없음,남자,2.0,현대카드
2,3,66756657,렌탈,일반계약,홈쇼핑/방송,2019-02-28,60,CMS,DES-1,96900,개인,48.0,경기도,경기도,계약확정,0,없음,여자,8.0,우리은행
5,6,66165241,렌탈,프로모션계약,영업방판,2019-07-29,60,CMS,DES-3A,90900,개인,53.0,경상도,경상도,계약확정,0,없음,여자,5.0,농협중앙회
6,7,66751017,렌탈,패키지계약,홈쇼핑/방송,2019-01-30,60,카드이체,DES-1,98400,개인,66.0,경상도,경상도,계약확정,0,없음,남자,1.0,롯데카드
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
51296,51298,66579515,렌탈,프로모션계약,대형마트A,2019-03-01,60,CMS,DES-3A,96900,개인,47.0,경기도,경기도,계약확정,0,없음,남자,NaN,기업은행
51297,51299,66799558,렌탈,일반계약,대형마트A,2019-04-01,60,CMS,DES-1,96900,개인,42.0,경기도,경기도,계약확정,0,없음,여자,8.0,새마을금고
51298,51300,66799197,렌탈,프로모션계약,영업방판,2019-04-01,39,카드이체,ERA,120900,개인,65.0,서울특별시,서울특별시,계약확정,0,없음,여자,1.0,롯데카드
51299,51301,66792778,렌탈,일반계약,홈쇼핑/방송,2020-02-06,60,카드이체,DES-1,96900,개인,54.0,서울특별시,서울특별시,계약확정,0,없음,여자,2.0,롯데카드
51300,51302,66799607,렌탈,일반계약,홈쇼핑/방송,2019-04-24,60,CMS,DES-1,96900,개인,53.0,서울특별시,서울특별시,계약확정,0,없음,여자,8.0,신한은행

In [48]:
# 연습 문제 : 결제은행('Bank')이 '현대카드'에 해당하는 계약 명단 중, 월랜탈비용이('Amount_Month') 150,000이상인 상위 50명의 계약명단을 
# 추출하여 result3.xlsx에 저장
cond9 = (df1['Bank'] == '현대카드')
cond10 = (df1['Amount_Month'] >= 150000)
df1.loc[cond9 & cond10].head(50).to_excel('result3.xlsx')

In [49]:
# 데이터 요약 (Pivot)  / pivot_table( )
# 판매유형(Sales_Type) 별 월랜탈비용(Amount_Month)의 평균(mean)을 계산 
df1.pivot_table(index='Sales_Type', values='Amount_Month', aggfunc='mean')

# index= : 구분하고자 하는 값
# values= : 계산하고자 하는 값
# aggfunc= : 계산하고자 하는 통계량

            Amount_Month
Sales_Type
렌탈          97199.625024
멤버십         63077.211706

In [50]:
# 함수 내 인자 및 함수 설명
help(pd.pivot_table)

Help on function pivot_table in module pandas.core.reshape.pivot:

pivot_table(data: 'DataFrame', values=None, index=None, columns=None, aggfunc: 'AggFuncType' = 'mean', fill_value=None, margins: 'bool' = False, dropna: 'bool' = True, margins_name: 'Hashable' = 'All', observed: 'bool' = False, sort: 'bool' = True) -> 'DataFrame'
    Create a spreadsheet-style pivot table as a DataFrame.

    The levels in the pivot table will be stored in MultiIndex objects
    (hierarchical indexes) on the index and columns of the result DataFrame.

    Parameters
    ----------
    data : DataFrame
    values : list-like or scalar, optional
        Column or columns to aggregate.
    index : column, Grouper, array, or list of the previous
        If an array is passed, it must be the same length as the data. The
        list can contain any of the other types (except list).
        Keys to group by on the pivot table index.  If an array is passed,
        it is being used as the same manner as column values.
    columns : column, Grouper, array, or list of the previous
        If an array is passed, it must be the same length as the data. The
        list can contain any of the other types (except list).
        Keys to group by on the pivot table column.  If an array is passed,
        it is being used as the same manner as column values.
    aggfunc : function, list of functions, dict, default numpy.mean
        If list of functions passed, the resulting pivot table will have
        hierarchical columns whose top level are the function names
        (inferred from the function objects themselves)
        If dict is passed, the key is column to aggregate and value
        is function or list of functions. If ``margin=True``,
        aggfunc will be used to calculate the partial aggregates.
    fill_value : scalar, default None
        Value to replace missing values with (in the resulting pivot table,
        after aggregation).
    margins : bool, default False
        If ``margins=True``, special ``All`` columns and rows
        will be added with partial group aggregates across the categories
        on the rows and columns.
    dropna : bool, default True
        Do not include columns whose entries are all NaN. If True,
        rows with a NaN value in any column will be omitted before
        computing margins.
    margins_name : str, default 'All'
        Name of the row / column that will contain the totals
        when margins is True.
    observed : bool, default False
        This only applies if any of the groupers are Categoricals.
        If True: only show observed values for categorical groupers.
        If False: show all values for categorical groupers.

    sort : bool, default True
        Specifies if the result should be sorted.

        .. versionadded:: 1.3.0

    Returns
    -------
    DataFrame
        An Excel style pivot table.

    See Also
    --------
    DataFrame.pivot : Pivot without aggregation that can handle
        non-numeric data.
    DataFrame.melt: Unpivot a DataFrame from wide to long format,
        optionally leaving identifiers set.
    wide_to_long : Wide panel to long format. Less flexible but more
        user-friendly than melt.

    Notes
    -----
    Reference :ref:`the user guide <reshaping.pivot>` for more examples.

    Examples
    --------
    >>> df = pd.DataFrame({"A": ["foo", "foo", "foo", "foo", "foo",
    ...                          "bar", "bar", "bar", "bar"],
    ...                    "B": ["one", "one", "one", "two", "two",
    ...                          "one", "one", "two", "two"],
    ...                    "C": ["small", "large", "large", "small",
    ...                          "small", "large", "small", "small",
    ...                          "large"],
    ...                    "D": [1, 2, 2, 3, 3, 4, 5, 6, 7],
    ...                    "E": [2, 4, 5, 5, 6, 6, 8, 9, 9]})
    >>> df
         A    B      C  D  E
    0  foo  one  small  1  2
    1  foo  one  large  2  4
    2  foo  one  large  2  5
    3  foo  two  small  3  5
    4  foo  two  small  3  6
    5  bar  one  large  4  6
    6  bar  one  small  5  8
    7  bar  two  small  6  9
    8  bar  two  large  7  9

    This first example aggregates values by taking the sum.

    >>> table = pd.pivot_table(df, values='D', index=['A', 'B'],
    ...                        columns=['C'], aggfunc=np.sum)
    >>> table
    C        large  small
    A   B
    bar one    4.0    5.0
        two    7.0    6.0
    foo one    4.0    1.0
        two    NaN    6.0

    We can also fill missing values using the `fill_value` parameter.

    >>> table = pd.pivot_table(df, values='D', index=['A', 'B'],
    ...                        columns=['C'], aggfunc=np.sum, fill_value=0)
    >>> table
    C        large  small
    A   B
    bar one      4      5
        two      7      6
    foo one      4      1
        two      0      6

    The next example aggregates by taking the mean across multiple columns.

    >>> table = pd.pivot_table(df, values=['D', 'E'], index=['A', 'C'],
    ...                        aggfunc={'D': np.mean, 'E': np.mean})
    >>> table
                    D         E
    A   C
    bar large  5.500000  7.500000
        small  5.500000  8.500000
    foo large  2.000000  4.500000
        small  2.333333  4.333333

    We can also calculate multiple types of aggregations for any given
    value column.

    >>> table = pd.pivot_table(df, values=['D', 'E'], index=['A', 'C'],
    ...                        aggfunc={'D': np.mean,
    ...                                 'E': [min, max, np.mean]})
    >>> table
                      D   E
                   mean max      mean  min
    A   C
    bar large  5.500000   9  7.500000    6
        small  5.500000   9  8.500000    8
    foo large  2.000000   5  4.500000    4
        small  2.333333   6  4.333333    2